<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Collect files from given machines.&#xd;
&#xd;
This is usually useful, if we want to get some critical logs without compromise of security</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>server_list</name>
          <description></description>
          <defaultValue>127.0.0.1:22:root</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>file_list</name>
          <description></description>
          <defaultValue># Jenkins backup
eval: find /var/lib/jenkins/jobs -name config.xml

# autostart and config files
/etc/rc.local
/var/lib/jenkins/.ssh/
/root/.ssh/
/etc/hosts
</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>env_parameters</name>
          <description></description>
          <defaultValue>export SERVER_REMOTE_COPY=&quot;104.236.159.226:22:root:/data/backup/prodenv_jenkins_45.55.6.34&quot;</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>@daily</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
export ssh_key_file=&quot;/var/lib/jenkins/.ssh/ci_id_rsa&quot;

curl -o /tmp/collect_files.sh https://raw.githubusercontent.com/TOTVS/mdmpublic/master/common_bash/jenkins/collect_files.sh
bash -e /tmp/collect_files.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.11">
      <recipients>devops.totvslabs@dennyzhang.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.2"/>
  </buildWrappers>
</project>