<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>50</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>server_list</name>
          <description></description>
          <defaultValue># server_ip:ssh_port
172.17.0.2:22
172.17.0.3:22
172.17.0.4:22</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>whether_flushdatabaseonconnect</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>app_branch_name</name>
          <description></description>
          <defaultValue>sprint-32</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>framework_branch_name</name>
          <description></description>
          <defaultValue>sprint-32</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>devops_branch_name</name>
          <description></description>
          <defaultValue>sprint-32</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>elasticsearch_clustername</name>
          <description></description>
          <defaultValue>mdm</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>deploy_run_list</name>
          <description></description>
          <defaultValue>&quot;recipe[mdm-cluster::default]&quot;</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>chef_json</name>
          <description></description>
          <defaultValue>{
 &quot;common_basic&quot;:
        {
        # service hosts: deploy service to which host
        &quot;couchbase_hosts&quot;:[&quot;kitchen-cluster-node1&quot;, &quot;kitchen-cluster-node2&quot;],
        &quot;elasticsearch_hosts&quot;:[&quot;kitchen-cluster-node1&quot;, &quot;kitchen-cluster-node2&quot;],
        &quot;mdm_hosts&quot;:[&quot;kitchen-cluster-node2&quot;, &quot;kitchen-cluster-node3&quot;],
        &quot;haproxy_hosts&quot;:[&quot;kitchen-cluster-node1&quot;,&quot;kitchen-cluster-node2&quot;],
        &quot;nagios_server&quot;:&quot;kitchen-cluster-node3&quot;,

        # specify branch name
        &quot;app_branch_name&quot;:&quot;$app_branch_name&quot;,
        &quot;framework_branch_name&quot;:&quot;$framework_branch_name&quot;,
        &quot;devops_branch_name&quot;:&quot;$devops_branch_name&quot;,

         &quot;package_url&quot;:&quot;http://repo.fluigdata.com:18000&quot;,

        # tcp ports
        &quot;haproxy_ssl_port&quot;:&quot;443&quot;,
        &quot;app_http_port&quot;:&quot;8080&quot;,
        &quot;app_https_port&quot;:&quot;8443&quot;
       },
 &quot;couchbase_mdm&quot;:
        {&quot;memory_quota_mb&quot;:&quot;16384&quot;},
 &quot;elasticsearch_mdm&quot;:
        {&quot;allocated_memory_mb&quot;:&quot;16384&quot;,
        &quot;audit_allocated_memory_mb&quot;:&quot;1024&quot;,
        &quot;enable_audit_elasticsearch&quot;:&quot;false&quot;,
        &quot;elasticsearch_clustername&quot;:&quot;$elasticsearch_clustername&quot;,        
        &quot;elasticsearch_audit_clustername&quot;:&quot;$elasticsearch_clustername-audit&quot;
        },
  &quot;app_mdm&quot;:
        {&quot;maxSimultaneousThreads&quot;:&quot;8&quot;,
        &quot;maxTotalThreads&quot;:&quot;64&quot;,
        &quot;cb_bucket_retries&quot;:&quot;10&quot;,
        &quot;cb_bucket_retryinterval&quot;:&quot;10000&quot;,
        &quot;cb_bucket_timeout&quot;:&quot;100000&quot;,
        &quot;cb_replicas_count&quot;:&quot;2&quot;,
        &quot;elasticsearch_replicas_count&quot;:&quot;2&quot;,
        &quot;elasticsearch_shards_count&quot;:&quot;2&quot;,
        &quot;elasticsearch_audit_replicas_count&quot;:&quot;2&quot;,
        &quot;elasticsearch_audit_shards_count&quot;:&quot;2&quot;,
        &quot;enable_slack_sync&quot;:&quot;false&quot;,
        &quot;slack_user&quot;:&quot;Production Server&quot;,
        &quot;log_slack_token&quot;:&quot;xoxb-21659697588-UoM7CMPyjmlN19oGt6fZUeAj&quot;,
        &quot;log_slack_channel&quot;:&quot;mdm-logs&quot;,
        &quot;session_bucket_quota_in_mb&quot;:&quot;1024&quot;,
        &quot;staging_bucket_quota_in_mb&quot;:&quot;2048&quot;,
        &quot;master_bucket_quota_in_mb&quot;:&quot;10240&quot;,
        &quot;mgmt_timeout&quot;:&quot;900000&quot;,
        &quot;max_timeout&quot;:&quot;960000&quot;,
        &quot;mdm_java_opts&quot;:&quot;-Xms10240m -Xmx10240m&quot;,
        &quot;mincomputationpoolsize&quot;:&quot;16&quot;,
        &quot;whether_flushdatabaseonconnect&quot;:&quot;$whether_flushdatabaseonconnect&quot;,
        &quot;whether_populatefakedata&quot;:&quot;false&quot;,
        &quot;whether_populaterealdata&quot;:&quot;false&quot;,
        &quot;whether_populategenerateddata&quot;:&quot;false&quot;,
        &quot;enable_backup_redo&quot;:&quot;false&quot;,
        &quot;backupConfig_redoLog&quot;:&quot;false&quot;, 
        &quot;backupConfig_backupStagingData&quot;:&quot;false&quot;
        }
}</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>ssh_private_key</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>env_parameters</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
export KILL_RUNNING_CHEF_UPDATE=false
export CODE_SH=&apos;/root/git_update.sh&apos;
export code_dir=&apos;/root/chef&apos;
export git_repo_url=git@github.com:TOTVS/mdmdevops.git
export ssh_key_file=&quot;/var/lib/jenkins/.ssh/ci_id_rsa&quot;

curl -o /var/lib/jenkins/deploy_cluster.sh https://raw.githubusercontent.com/TOTVS/mdmpublic/master/common_bash/chef/deploy_cluster.sh
bash -e /var/lib/jenkins/deploy_cluster.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.11">
      <recipients>devops.totvslabs@dennyzhang.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.2"/>
  </buildWrappers>
</project>