<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>jenkins_job</name>
          <description></description>
          <defaultValue>DeploySystem</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>job_run_id</name>
          <description></description>
          <defaultValue>14</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>env_parameters</name>
          <description></description>
          <defaultValue>export JENKINS_BASEURL=&quot;http://45.55.6.34:18080&quot;</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
curl -o /tmp/diagnostic_jenkinsjob_slow.sh https://raw.githubusercontent.com/TOTVS/mdmpublic/master/common_bash/jenkins/diagnostic_jenkinsjob_slow/diagnostic_jenkinsjob_slow.sh
curl -o /tmp/diagnostic_jenkinsjob_slow.py https://raw.githubusercontent.com/TOTVS/mdmpublic/master/common_bash/jenkins/diagnostic_jenkinsjob_slow/diagnostic_jenkinsjob_slow.py

bash -e /tmp/diagnostic_jenkinsjob_slow.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.11">
      <recipients>devops.totvslabs@dennyzhang.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.2"/>
  </buildWrappers>
</project>