<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Collect files from given machines.&#xd;
&#xd;
This is usually useful, if we want to get some critical logs without compromise of security</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>server_list</name>
          <description></description>
          <defaultValue># server_ip:ssh_port
172.17.0.2:2702
172.17.0.3:2702
</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>file_list</name>
          <description></description>
          <defaultValue>/etc/hosts
/opt/couchbase/etc/couchbase/static_config
/opt/mdm/config/mdm.yml
/opt/mdm/logs/mdm-initscript.log
/opt/mdm/logs/mdm-app.log
/opt/mdm/logs/mdm-app-audit.log
/opt/mdm/logs/mdm-app-error.log
/opt/mdm/logs/mdmbackup-initscript.log
/etc/elasticsearch/elasticsearch.yml
/var/log/elasticsearch/mdm.log
/var/log/elasticsearch/mdm_index_indexing_slowlog.log
/var/log/elasticsearch/mdm_deprecation.log
/var/log/elasticsearch/mdm_index_search_slowlog.log</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>env_parameters</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
export ssh_key_file=&quot;/var/lib/jenkins/.ssh/ci_id_rsa&quot;

curl -o /tmp/collect_files.sh https://raw.githubusercontent.com/TOTVS/mdmpublic/2016-06-24/common_bash/jenkins/collect_files.sh
bash -e /tmp/collect_files.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.11">
      <recipients>devops.totvslabs@dennyzhang.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.2"/>
  </buildWrappers>
</project>